<html>
<head>
<title>Zerodha-Flickr Demo</title>
<script type="text/javascript" src="public/resource/js/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="public/resource/js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="public/resource/js/imagesloaded.pkgd.min.js"></script>
<link rel='stylesheet' media='screen' href='public/resource/css/flickr.css' />
<body>
	<div id="wrapper">
	{% for item_name,item_image in value.items()%}
	    <div id="list">
	        <div class="item"> <img src="{{item_image}}"><b>{{item_name}} </b></div>
	        <div class="item"> <img src="{{item_image}}"><b>{{item_name}}</b></div>
	        <!-- ... -->
	    </div>
	{% endfor %}
</div>

</body>
</head>