#wrapper
{
    max-width: 60em; 
    margin: 0 auto;
}
    #list
    {
        width: 110%;
        overflow: hidden;
        margin-left: 20%; 
        margin-bottom: 5%; 
    }
    .item
    {
        width: 30.303%; 
        float: left;
        margin: 0 2% 2%; 
    }

body {
    background-image: url("public/resource/img/Background.jpg");
    background-color: #cccccc;
}
 
